.sideBlock {
    text-decoration: none;
    user-select: none;
    outline: none;
    margin-top: 3px;
    display:block;
    text-align: center;
    padding: .7em 1.5em;
}

.sideBlock:active { background: white; }
.sideBlock:hover { background: #A668D5; }

.textColor {
    color: white;
}
