.app-wrapper {
  display: grid;
  grid-template-areas:
          "header header header"
          "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  font-size: xx-large;
  margin: 1px;
  background-color: #A668D5;
  color: white;
}

.sidebar {
  grid-area: nav;
  margin: 1px;
  background-color: #41046F;
}

.content {
  grid-area: content;
  margin: 3px;
  background-color: white;
}

.textColor {
  color: black;
}

.subHeader {
  grid-area: header;
  font-size: xx-large;
  margin: 1px;
  background-color: #41046F;
  color: white;
}

