.app-wrapper {
  display: grid;
  grid-template-areas:
          "header header header"
          "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  font-size: xx-large;
  margin: 5px;
  background-color: #F8B79B;
}

.sidebar {
  grid-area: nav;
  margin: 5px;
  background-color: #B58571;
}

.content {
  grid-area: content;
  margin: 5px;
  background-color: #F8C8B4;
}

